plotly
nibabel
numpy
opencv-python
tensorflow
huggingface_hub
langchain==0.3.27
langchain-community==0.3.27
#langchain-openai
langgraph==0.6.11
#openai
faiss-cpu==1.13.0
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
wikipedia
langchain-tavily==0.2.13
langchain-huggingface==0.3.1
sentence-transformers==5.1.2
arxiv
scipy
langchain_groq==0.3.8
tf-keras==2.20.1
pypdf
bs4
pymupdf
chromadb
wikipedia
langchain-text-splitters
