plotly
nibabel
numpy
opencv-python
tensorflow
huggingface_hub
scipy
langchain
openai
huggingface_hub
langchain_google_genai
langchain-openai
langchain
python-dotenv
langchain-community
langchain_core
streamlit
pypdf
bs4
pymupdf
faiss-cpu
chromadb
wikipedia
langchain-text-splitters
langchain_huggingface
duckdb
pandas
langchain_groq
xmltodict
arxiv
huggingface_hub
gradio
crewai
crewai_tools
pinecone-client
pinecone-text
pinecone-notebooks
langchain_experimental
neo4j==5.14
langgraph
langsmith
tensorflow
cassio
ipykernel
tf-keras
plotly
nibabel
numpy
opencv-python
tensorflow
huggingface_hub
scipy
cassio
langgraph-cli[inmem]
langchain_tavily
langgraph_supervisor
langsmith
