plotly
nibabel
numpy
opencv-python
tensorflow
huggingface_hub
langchain
langchain-community
langchain-openai
langgraph
openai
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
wikipedia
langchain_tavily
langchain_huggingface
arxiv
